__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv/
venv/

panel/generated_scripts/
panel/panel_secrets.local.json

server/workspace/users.json
server/workspace/licenses.json
server/workspace/notice.json
server/workspace/server_logs.txt
server/workspace/revoked_licenses.json
server/workspace/quick_links.json
server/workspace/banned_uids.json

.DS_Store
Thumbs.db
